<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.kustomerapp.com/card-js/latest/kustomer-card.min.js"></script>
    <script>
        function loadContext() {
            // Kustomer.initialize is required for card visibility in the panel.
            Kustomer.initialize((context) => {
                const { emails } = context.customer.attributes;

                const customerEmail = emails?.[0]?.email;

                if (!customerEmail) {
                    // Closes the card if the customer has no email addresses.
                    return Kustomer.close();
                }

                const emailContainer = document.getElementById("customer-email")
                emailContainer.textContent = customerEmail

                // Resizes the iframe to fit the view
                Kustomer.resize();
            });
        }
    </script>
</head>

<body onload="loadContext()">
    <h2>My example app</h2>
    <p>The customer's email address is: </p>
    <p id="customer-email"></p>
</body>

</html>