html,
body {
  background-color: transparent !important;
  margin: 0;
}

html {
  padding: var(--nextui-space-6);
  border-radius: var(--nextui-radii-sm);
  border: 1px solid var(--nextui-colors-accents5);
}
